html:not(.hydrated) body {
    display: initial;
}

body {
    background: #1212;
    display: initial;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

#root {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.pulse-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.pulse {
    height: 50px;
    width: 50px;
    animation: pulse 2s infinite;
    margin: auto;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    transform: scale(1);
    -webkit-transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(230, 237, 219, 1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    animation-timing-function: linear;
}

.pulse.full-screen {
    height: 100px;
    width: 100px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.8);
        box-shadow: 0 0 0 0 rgba(230, 237, 219, 0.7);
    }

    70% {
        -webkit-transform: scale(1);
        box-shadow: 0 0 0 25px rgba(230, 237, 219, 0);
    }

    100% {
        -webkit-transform: scale(0.8);
        box-shadow: 0 0 0 0 rgba(230, 237, 219, 0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        box-shadow: 0 0 0 0 rgba(230, 237, 219, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(230, 237, 219, 0);
    }

    100% {
        transform: scale(0.8);
        box-shadow: 0 0 0 0 rgba(230, 237, 219, 0);
    }
}

/* ion grid with cards */
ion-grid ion-card {
    height: 100%;
}

ion-grid ion-card-header {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
}

ion-grid ion-card-header ion-icon {
    width: 100%;
    font-size: 80px;
}

ion-grid ion-card-subtitle {
    margin-top: auto;
}